/* Reset & Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.logo img {
    width: 52px;
    height:25px;
    margin-right: 10px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #2a7a2a;
}

/* Register Button */
.register-btn {
    background: #2a7a2a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.register-btn:hover {
    background: #226622;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5px;
    background-color: #f4f6f8;
}

.Hero-Content {
    max-width: 50%;
}

.Hero h1 {
    font-size: 36px;
    color: #333;
}

.Hero h1 span {
    font-weight: bold;
    color: #2a7a2a;
}

.Hero p {
    color: #666;
    margin: 10px 0 20px;
}
 
.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #2a7a2a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: backgroud 0.3s ease;
}

.btn:hover {
    background: #226622;
}

/* Right Side Image */
.hero-image img {
    width: 100%;
    max-width: 400px;
}

.hero-content2 {
    background-color: white;
    color: #333;
    align-content: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hero-content2 h3 {
    justify-content: space-between;
    align-items: center;
    padding: 15px 40%;
    background: white;
    display: flex;
}
.p1 {
    align-items: center;
    align-content: center;
    margin: 1px;
    padding: 1px 30%;

}

.client-logo img {
    width: 384.61px;
    height: 50px;
    
}
